# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Plan files
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc